body{
  font-family: Arial, Helvetica, sans-serif;
  
  margin: 0;
  padding: 0;
  /* background-color: pink; */
}
.game-container{
  background: rgb(59, 59, 59);
  max-width: 600px; 
  margin: 50px auto;
  border-radius: 12px;
  box-shadow: rgb(83, 83, 81);
  padding: 10px;
  text-align: center;
}
h1{
  text-align: center;
  color:rgb(255, 123, 0);
  font-size: 3 rem;
}

button{
  border: none;
  border-radius: 8px ;background: linear-gradient(135deg, #36d1dc, #5b86e5);
  margin: 5px;
  padding:15px;
  font-size:20px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}
button:hover{
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgb(141, 140, 140);
  color: white;
}

.result{
  color: white;
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: 600;
}
.score{
  font-size: 2rem;
  margin-top: 30px;
  color: rgb(53, 214, 21);
  font-weight: 600;
}
.footer{
  margin-top: 30px;
  color: white;
  text-align: center;
  font-size: 0.7rem;
}
